@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.confetti {
  height: 10px;
  width: 10px;
  background-color: black;
}
